// Grid variables 
$grid_width : 960px;
$grid_col   : 12;
$grid_gut   : 20px;

// Typography variables
$base_font_size: 14px;
$base_line_height: 14px;
$headlines_font_family: Georgia, Helvetica, Arial, sans-serif;
$body_font_family: Helvetica, Verdana, "Lucida Grande", serif;
$body_font_color: #000000;

//links
$link_color: #0069d6;
$visited_link_color: #0069d6;